<!--Header-->
<%- include ('../../partials/header.ejs') %>

<!--Navbar-->
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <div class="card">
        <br>
    <div class="card-header">
        <h2 class="text-center text-uppercase">Edit articles</h2>
    </div>
    <div class="card-body">
        <form method="POST" action="/articles/update">
            <input class="form-control" type="text" name="title" placeholder="Article title" value="<%= article.title %>">
            <br>
            <textarea class="form-control" name="body" id="article"></textarea>
            <br>
            <input type="hidden" name="id" value="<%= article.id %>">
            <select name="category" class="form-control">
                <% categories.forEach(category => { %>
                <option value="<%= category.id %>"><%= category.title %></option>
                <% }) %>
            </select>
            <br>
            <button class="btn btn-success">Update</button>
        </form>
    </div>
    </div>
</div>

<div id="content" style="display: none;">
<%- article.body %>
</div>

<!--TinyMCE-->
<script src="/tinymce/tinymce.min.js"></script>

<script>
    tinymce.init({
        selector: '#article',
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ],
        init_instance_callback: () => {
            tinymce.get("article").setContent($("#content").html())
        }
    })</script>


<!--Footer-->
<%- include ('../../partials/footer.ejs') %>